:root {
    --myMain: rgba(33, 33, 33, 1); 
    --myBackColor: rgb(189, 189, 189);
    --myAltBackColor: rgb(143, 143, 143);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-areas: "tool tool"
                         "navbar textblock"
                         "foot foot";

    height: 100vh;
}

#circle-container {
    text-align: center;
}

header {
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
    grid-area: tool;
}

button {
	border: 1px solid var(--myMain);
    border-radius: 50%;
    margin: 2px;
	width: 40px;
	height: 40px;
    z-index: 86;
    display: inline-block;
    outline: none;
}

button:active, button:focus, select:active , select:focus {
    border-color: black;
    box-shadow: 0 0 3px black;
}

select {
    border: 1px solid var(--myMain);
    border-radius: 50px;
    width: 10em;
    margin: 2px;
    z-index: 86;
    outline: none;
    display: inline-block;
}

#mainText {
    grid-area: textblock;
    border: 1px solid red;
    
}


nav {
    grid-area: navbar;
    border: 1px solid green;
}

footer {
    grid-area: foot;
    border: 1px solid pink;
}