:root {
    --myMain: rgba(33, 33, 33, 1); 
    --myBackColor: rgb(189, 189, 189);
    --myAltBackColor: rgb(143, 143, 143);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-areas: "tool centerText tool2"
                         "navbar textblock textblock"
                         "foot foot foot";

    height: 100vh;
}

#circle-container {
    text-align: center;
}

header {
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
    
}

button {
	border: 1px solid var(--myMain);
    border-radius: 50%;
    margin: 2px;
	width: 40px;
	height: 40px;
    z-index: 86;
    display: inline-block;
    outline: none;
}

button:active, button:focus, select:active , select:focus {
    border-color: black;
    box-shadow: 0 0 3px black;
}

select {
    border: 1px solid var(--myMain);
    border-radius: 50px;
    width: 10em;
    margin: 2px;
    z-index: 86;
    outline: none;
    display: inline-block;
}

#toolbar {
    grid-area: tool;
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
    
}

#topSide, #bottomSide {
    padding-left: 20px;
}

#centerText {
    grid-area: centerText;
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
    
}

#rightHandTools {
    grid-area: tool2;
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
}

#mainText {
    grid-area: textblock;
    border: 1px solid red;
    overflow: hidden;
}

#mainText textarea {
    width: 100%;
    height: 100%;
}


nav {
    grid-area: navbar;
    border: 1px solid green;
    text-align: center;
}

nav input {
    margin-bottom: 0.5em;
}

footer {
    grid-area: foot;
    border: 1px solid pink;
}

@media (max-width:1800px) {
    body {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}


@media (max-width:1200px) {
    body {
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}


@media (max-width:800px) {
    body {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}


@media (max-width:400px) {
    body {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}