:root {
    --myMain: #9e9e9e; 
    --altMain: #757575;
    --altColour: #2e7d32;
    --textColour: #212121;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 8fr 0.5fr;
    grid-template-areas: "tool centerText tool2"
                         "navbar textblock textblock"
                         "foot foot foot";

    height: 100vh;
    background-color: var(--myMain);
    color: var(--textColour);
}

#circle-container {
    text-align: center;
}

header {
    padding: 1em 1em 1em;
}

button {
	border: 1px solid var(--myMain);
    border-radius: 50%;
    margin: 2px;
	width: 40px;
	height: 40px;
    z-index: 86;
    display: inline-block;
    outline: none;
    background-color: var(--altColour);
}

button:active, button:focus, select:active , select:focus {
    border-color: black;
    box-shadow: 0 0 3px black;
}

select {
    border: 1px solid var(--myMain);
    border-radius: 50px;
    width: 10em;
    margin: 2px;
    z-index: 86;
    outline: none;
    display: inline-block;
}


#toolbar {
    grid-area: tool;
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
}

#topSide, #bottomSide {
    padding-left: 20px;
}

#centerText {
    grid-area: centerText;
    padding: 1em 1em 1em;
    text-align: center; 
}

#saveAs {
    width: 60px;
}

#rightHandTools {
    grid-area: tool2;
    border-bottom: 1px solid var(--myMain);
    padding: 1em 1em 1em;
}

#mainText {
    grid-area: textblock;
    overflow: hidden;
    border: solid 1px var(--textColour);    

}

#mainText textarea {
    width: 100%;
    height: 100%;
}


nav {
    grid-area: navbar;
    text-align: center;
    background-color: var(--myMain);

}

nav input {
    margin-bottom: 0.5em;
}

footer {
    grid-area: foot;
    background-color: var(--myMain);
}

.highlight {
    border: solid 1px var(--altColour);
}

@media (max-width:1800px) {
    body {
        grid-template-columns: 1fr 7fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}


@media (max-width:1200px) {
    body {
        grid-template-columns: 1fr 6fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}


@media (max-width:800px) {
    body {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}


@media (max-width:400px) {
    body {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-rows: 1fr 8fr 0.5fr;  
    }

}