* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-color: black;
}
img {
    filter: blur(1.25em);
    height: 100%;
    width: 100%;
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 30%;
    width: 20%;
    text-align: center;
    background-color: white;
    border: solid 0.1em black;

}

h4 {
    color: black;
}

